<!doctype html>
<html>
  <head>
    <title>Scifi Book Club</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body onresize="resize_canvas()" style="margin: 0px;">

    <canvas id="matrix" width="100%" height="100%">
    </canvas>
    <div class="menu">
      <a href="/admin">Admin</a>
    </div>
    <div class="page">
      <h2 style="color: #fff;">Please send <a href="/admin">Admin</a> a url
        to your favourite sci-fi story :)</h2>
      <form action="message" method="post">
        <input type="text" name="message">
      </form>
    </div>
  </body>
  <script src="/static/background.js"></script>
</html>
